.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#footer {
  text-align: center;
}

.band {
  font-family: cursive;
  background-color: tomato;
  font-size: large;
  color: white;
  text-align: center;
  padding: 25px;
  margin: 20px;
}
/* header h1 {
  color: turquoise;
  animation-name: name;
  animation-duration: 4s;
  animation-iteration-count: infinite;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigator {
  margin: 10px;
  padding: 10px;
  color: white;
  font-family: cursive;
  font-weight: bold;
  font-size: 25px;
  background-color: teal;
  display: inline;

  border-radius: 10px;
}

.display-img {
  padding: 10px;
}

.tagline {
  color: purple;
  animation-fill-mode: forwards;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes example {
  from {
    color: purple;
  }
  to {
    color: pink;
  }
}

#menu {
  align-content: center;
  display: inline-block;
  background-color: palevioletred;
  color: white;
  font-weight: 700;
}

.menuitem {
  padding: 10px;
  border-style: dotted;
  margin: 20px;
}
